<footer class="page-footer footer grey darken-4">
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">
        <i class="fab fa-linkedin"></i></i>LinkedIn</a>
      <a class="grey-text text-lighten-4 right" href="#!"><i class="fab fa-github-square"></i>Github</a>
    </div>
  </div>
</footer>
