<div class="col push-s1 s10 m4">
  <div class="card horizontal hoverable">
    <div class="card-image">
      <img src="{{images.[0]}}" class="image__card center-align">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>{{name}}</h5>
      </div>
      <div class="card-action">
        <a href="/recipes/{{_id}}">Recipe Details</a>
        {{#if owner}}
        <a href="/api/v1/recipes/{{_id}}/delete" class='right-align'>
          <i class="material-icons delete-button">remove_circle</i>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
